html {
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: scroll;
  /* font-family: sans-serif; */
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  min-width: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

a:hover {
  text-decoration: underline;
  color: #23527c;
}

.flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: inline-block !important;
  background: #f3976c;
  border-radius: 12px;
  /* overflow: hidden; */
  color: #333;
  padding: 8px;
}

.card * {
  color: #333;
}

.card img {
  border-radius: 8px;
}

.card a:hover {
  text-decoration: none;
}

/* 
#bloc-8 div:nth-child(2),
.social-icon-row {
  display: flex;
  justify-content: space-between;
} */

textarea {
  resize: vertical;
  aspect-ratio: 1/1;
}